<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    {{- partial "head.html" . -}}
</head>
<body>
    <div class="nebula"></div>
    <div class="stars-back"></div>
    <div class="stars-mid"></div>
    <div class="stars"></div>
    <div class="stars-twinkle"></div>
    <div class="wandering-star" id="john" title=""></div>
    <div class="john-message" id="john-message">
        Three million years of silence.<br>
        You noticed.
    </div>
    <div class="site-wrapper">
        {{- partial "header.html" . -}}
        <main class="main-content">
            {{- block "main" . }}{{- end }}
        </main>
        {{- partial "footer.html" . -}}
    </div>
    <script src="/js/main.js"></script>
</body>
</html>
